@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@media only screen and (max-width: 600px) {
    #nav {
        font-family: "Rubik", sans-serif;
        font-weight: 200; /* Normal weight */
        font-style: normal; /* Normal style */
        color: red;
      }
    }

#Home{
    position: absolute;
    color: green;
}
p{
    position: absolute;
    top: 60px;
    left: 30px;
    width: 1000px;
    color: red;
}