@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@media only screen and (max-width: 600px) {
    #nav {
        font-family: "Rubik", sans-serif;
        font-weight: 200; /* Normal weight */
        font-style: normal; /* Normal style */
        color: red;
      }
    }
#Home{
    position: absolute;
    color: green;
}
#Home2 {
    color: azure;
        width: 600px;
        height: auto;
        position: absolute;
        left: 40px;
        top: 700px;
        background-color: rgba(255, 255, 255, 0.5); /* Adjust the last value (0.5) for transparency */
        backdrop-filter: blur(0px); /* Optional: Adds a blur effect */
        border-radius: 10px; /* Optional: Adds rounded corners */
        padding: 20px; /* Optional: Add padding for content */
}

#img{

    position: absolute;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-image: url('https://wallpapercave.com/wp/wp5709278.jpg');
  }